*{
  font-family: 'Athiti', sans-serif;
}
body{
  background-image:linear-gradient(to right, #009cf3, #16d6d9);
}
.card{
  margin: auto;
  border-radius: 100%;
  display: block;
  top:0;
  right:0;
  bottom:0;
  left:0;
  position:absolute;
}

.page{
  padding:1em;
}

#page-add,
#page-signup {
  display: none;
}
nav{
  background: white;
  color:black;
  text-align:left;
  padding:.5em;
}
#login-box{
  top:10vh;
}


/* Popup box BEGIN */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}