*{
    font-family: 'Baloo 2', cursive;
}
body{
    padding:1em;
    background:#666;
    font-family:sans-serif;
    background-image:linear-gradient(to right, #009cf3, #16d6d9);
  }
  mobile{
    display:flex;
    flex-flow:column nowrap;
    background:white;
    margin:auto;
    width:414px;
    height:736px;
    box-shadow:0px 12px 24px #0004;
  }
  .mobile-status-bar img{
    width:100%;
  }
  .mobile-container{
    height:100%;
    overflow:auto;
  }
  
  nav{
    background-image:linear-gradient(to right, #009cf3, #16d6d9);
    color:white;
    text-align:center;
    padding:.5em;
  }
  .page{
    padding:1em;
  }
  #page-start{
    
  }
  textarea{
    width:100%;
    border-radius:.3em;
    font-size:1rem;
    padding:1em;
    box-sizing:border-box;
  }
  button{
    background-image:linear-gradient(to right, #009cf3, #16d6d9);
    border-radius:.3em;
    font-size:1.2rem;
    color:white;
    width:100%;
    padding:0.5em;
    box-sizing:border-box;
    border:none;
  }
  input{
    width:100%;
    border-radius:.3em;
    font-size:1rem;
    padding:1em .5em;
    box-sizing:border-box;
    border:1px solid #ccc;
    margin-bottom:1em;
  }
  button.score{
    width:48%;
    display:inline-block;
    margin:2px 0;
  }
  #logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  #font-en{
    font-family: 'Baloo 2', cursive;
  }
  #font-thai{
    font-family: 'Kanit', sans-serif;
  }
  .cover {
	background: #ffffff;
	position: absolute;
	width:414px;
    height:736px;
	opacity: 0;
	
	animation: fade-out 4s /*infinite*/;
}
.cover #icon {
	--size: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: var(--size);
	
	animation: zoom-in 2s /*infinite*/;
	animation-delay: 2s;
}

@keyframes zoom-in {
	50% {
		width: var(--size);
	}
	60% {
		width: calc(var(--size) * 0.9);
	}
	100% {
		width: 250%;
	}
}
@keyframes fade-out {
	0%, 85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.content {
	width: 100%;
}
#page-activity,#page-new,#page-complete{
    display:none;
}